# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store

# Distribution / packaging
node_modules/

# Ignore mock data file
MOCK_DATA.json

# ignore test file
test.py
client_secret.json