<!DOCTYPE html>
<html>
    <head>
        <title>PoseDee | Posture Overviews</title>
        <link rel = "icon" href = "https://cdn4.iconfinder.com/data/icons/essentials-74/24/018_-_Chart-1024.png" >
        <meta charset="utf-8" />
        <style>

          #loader {
            display: block;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0.8;
          }
      
          #loader .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 2s linear infinite;
          }
      
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }
        </style>
    </head>
    <body onbeforeunload="closeEventSources()">
      <div id="loader">
        <div class="spinner"></div>
      </div>
        <h1 style="text-align: center">Realtime Stat Simulator</h1>
        <h3 style="text-align: center">Good/Bad Durations</h3>
        <p style="text-align: center" id="myGoodDuration" width="400" height="400"></p>
        <p style="text-align: center" id="myBadDuration" width="400" height="400"></p>
        <h3 style="text-align: center" >Torso/Neck average angle</h3>
        <p style="text-align: center" id="myTorsoAverage" width="400" height="400"></p>
        <p style="text-align: center" id="myNeckAverage" width="400" height="400"></p>
        <h3 style="text-align: center" >Bad posture cause</h3>
        <p style="text-align: center" id="myCause" width="400" height="400"></p>
        <h1>Daily Good Posture Percentage</h1>
        {{ fig5|safe }}
        <h1>Daily Stack Bar Chart</h1>
        {{ fig1|safe }}
        <h1>Weekly Stack Bar Chart</h1>
        {{ fig2|safe }}
        <h1>Monthly Stack Bar Chart</h1>
        {{ fig3|safe }}
        <h1>Yearly Stack Bar Chart</h1>
        {{ fig4|safe }}

        <script>
          // Hide the loader after the page has finished loading
          window.addEventListener('load', function() {
            document.getElementById('loader').style.display = "none";
          });
        </script>
    </body>


  <script>
    function toFormat(totalSeconds) {
      const hours = Math.floor(totalSeconds / 3600);
      const minutes = Math.floor((totalSeconds % 3600) / 60);
      const seconds = totalSeconds % 60;

      return `${hours.toString().padStart(2, '0')} hours ${minutes.toString().padStart(2, '0')} minutes ${seconds.toString().padStart(2, '0')} seconds`;
    }
  </script>  

  <script>
      var id = {{ userId | tojson }};
      var HOST_API = {{ host | tojson }};

      var goodSec = 0, badSec = 0;
      var torsoAvg = 0.0, neckAvg = 0.0, avgTotalCount = 0;
      var causeDoc = []

      fetch("http://"+ HOST_API +":5000/api/request/progress/" + id)
      .then((response) => response.json())
      .then((doc) => {
        if (doc.length === 0) {
          goodSec = 0;
          badSec = 0;
        } else {
          goodSec = doc[1].Count;
          badSec = doc[0].Count;
        }

        // console.log(goodSec, badSec);

        document.getElementById('myGoodDuration').innerText = "Good: " + toFormat(goodSec);
        document.getElementById('myBadDuration').innerText = "Bad: " + toFormat(badSec);
      });

      fetch("http://"+ HOST_API +":5000/api/request/average/" + id)
      .then((response) => response.json())
      .then((doc) => {
        torsoAvg = doc.avg_torso;
        neckAvg = doc.avg_neck;
        avgTotalCount = doc.total_count;

        // console.log(torsoAvg, neckAvg, avgTotalCount);

        document.getElementById('myTorsoAverage').innerText = "Torso: " + torsoAvg.toFixed(2);
        document.getElementById('myNeckAverage').innerText = "Neck: " + neckAvg.toFixed(2);
      });

      fetch("http://"+ HOST_API +":5000/api/request/cause/" + id)
      .then((response) => response.json())
      .then((doc) => {
        if (doc.length === 0) {
          causeDoc = [{"cause": null, "count": 0}, {"cause": "both", "count": 0}, {"cause": "neck", "count": 0}, {"cause": "torso", "count": 0}]
        } else {
          causeDoc = doc;
        }
        
        // console.log(causeDoc)

        let significantCause = causeDoc.reduce((left, right) => left.count > right.count? left : right);
        if (significantCause.cause === null || significantCause.count === 0) {
          document.getElementById('myCause').innerText = "No significant problems detected.";
        } else {
          document.getElementById('myCause').innerText = significantCause.cause.charAt(0).toUpperCase() + significantCause.cause.slice(1);
        }
        
      });
  </script>

  <script>
      var baseProgressUrl = "http://"+ HOST_API +":5000/api/realtime/progress/" + id;
      if (!!window.EventSource) {
        var progressDurationSource = new EventSource(baseProgressUrl);

        progressDurationSource.onmessage = function(e) {
          var ojson = e.data.replace(/\n/g, "").replace(/'/g, "\"");
          let doc = JSON.parse(ojson);

          // console.log(doc);
          if (doc.new_val.Posture === 1) {
            goodSec++;
            document.getElementById('myGoodDuration').innerText = "Good: " + toFormat(goodSec);
          } else if (doc.new_val.Posture === 0) {
            badSec++;
            document.getElementById('myBadDuration').innerText = "Bad: " + toFormat(badSec);
          }
        }
      }
  </script>

  <script>
      var baseAVGUrl = "http://"+ HOST_API +":5000/api/realtime/average/" + id;
      if (!!window.EventSource) {
        var postureAVGSource = new EventSource(baseAVGUrl);

        postureAVGSource.onmessage = function(e) {
          var ojson = e.data.replace(/\n/g, "").replace(/'/g, "\"");
          let doc = JSON.parse(ojson);

          // console.log(doc);
          let newTorsoData = doc.new_val.torso_inclination;
          let newNeckData = doc.new_val.neck_inclination;
          
          // console.log(torsoAvg, neckAvg, avgTotalCount);
          torsoAvg = ((torsoAvg * avgTotalCount) + newTorsoData) / (avgTotalCount + 1);
          neckAvg = ((neckAvg * avgTotalCount) + newNeckData) / (avgTotalCount + 1);
          avgTotalCount++;

          // console.log(torsoAvg, neckAvg, avgTotalCount);
  
          document.getElementById('myTorsoAverage').innerText = "Torso: " + torsoAvg.toFixed(2);
          document.getElementById('myNeckAverage').innerText = "Neck: " + neckAvg.toFixed(2);

        }
      }
  </script>

  <script>
      var baseCauseUrl = "http://"+ HOST_API +":5000/api/realtime/cause/" + id;
      if (!!window.EventSource) {
        var postureCauseSource = new EventSource(baseCauseUrl);

        postureCauseSource.onmessage = function(e) {
          var ojson = e.data.replace(/\n/g, "").replace(/'/g, "\"");
          let doc = JSON.parse(ojson);

          // console.log(doc);
          for (i = 0; i < causeDoc.length; i++) {
            if (causeDoc[i]["cause"] === doc.new_val.why_bad) {
              causeDoc[i].count++;
              break;
            }
          }
          // console.log(causeDoc);
          let significantCause = causeDoc.reduce((left, right) => left.count > right.count? left : right);
          if (significantCause.cause === null || significantCause.count === 0) {
            document.getElementById('myCause').innerText = "No significant problems detected.";
          } else {
            document.getElementById('myCause').innerText = significantCause.cause.charAt(0).toUpperCase() + significantCause.cause.slice(1);
          }
        }
      }
  </script>

  <script>
    function closeEventSources() {
      progressDurationSource.close();
      postureAVGSource.close();
      postureCauseSource.close();
    }
  </script>  

</html>